.movie-poster {
    width: 100%;
}

.movie-details {
}

.review-heading {
    font-weight: bold;
}

.review-heading a {
    color: var(--hyperlink-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.review-body {
    font-size: .9em;
    margin-bottom: 5px;
}
