.movie-navbar nav {
    background-color: var(--navbar-background-color);
    height: var(--navbar-height);
    width: 100%;
    font-size: 1.2em;
    padding: 0 60px !important;
}

.movie-navbar .col {
    height: 100%;
}

.movie-navbar .col a {
    height: 100%;
    background-color: green;
}

.movie-navbar a {
    text-decoration: none;
}

.movie-navbar a:hover {
    background-color: var(--dark-grey);
    text-decoration: none !important;
}


.movie-navbar-spacer {
    height: var(--navbar-height);
    width: 100%;
}

.movie-navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.movie-navbar-item {
    margin: auto 0;
}

.navbar-brand {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 16px 8px;
}


.profile-icon {
    padding: 0 !important;
    margin: auto 0 !important;
    margin-left: 5px !important;
    font-size: 1.4em;
}

.profile-text {
    margin: 0 auto !important;
    margin-left: 5px !important;
    display: inline;
}

.searchbar {
    width: fit-content;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbar input {
    width: 210px;
    border-radius: 150px 0 0 150px;
}

.searchbar button {
    border-radius: 0 150px 150px 0;
}

