.movie-navbar {
    background-color: var(--navbar-background-color);
    /*height: var(--navbar-height);*/
    width: 100%;
    font-size: 1.2em;
    padding: 0 60px;
}

.movie-navbar a {
    text-decoration: none;

}

.searchbar {
    width: fit-content;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbar input {
    width: 210px;
    border-radius: 150px;
}

.movie-navbar-spacer {
    height: var(--navbar-height);
    width: 100%;
}

.movie-navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.movie-navbar-item {
    /*text-decoration: none;*/
    /*color: white;*/
    margin: auto 15px;
    /*background-color: #515575;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
}

.movie-navbar-item.btn {
    border-radius: 150px;
}

.profile-icon {
    padding: 0 !important;
    margin: auto 0 !important;
    margin-left: 5px !important;
    font-size: 2em;

}
