
.user-search-stub a:hover div {
    text-decoration: none !important;
}


.user-search-stub a:hover h6 {
    text-decoration: underline !important;
}

.searchbar-input {
    width: 250px !important;
}
