.reviewed-movies {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;

    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 20px;
}


.movie-stub {
    width: 160px;
    height: 100%;
    margin: 0 10px;
    /*background-color: rebeccapurple;*/
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 0 10px;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.movie-stub-image {
    width: 140px;
    /*height: 80%;*/
    border-radius: 5px;
    /*background-color: rebeccapurple;*/
}

.star-rating{
    font-size: 1.9em;
}

.profile-photo {
    width: 90px;
}

.username-bold {
    font-weight: lighter;
}

.edit-profile-button{
    border: none;
    border-radius: 0;
    padding: 4px 8px;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.edit-profile-forms input{
    border-radius: 0;
    margin-top: 4px;
    margin-bottom: 10px;
}

.edit-profile-forms textarea {
    border-radius: 0;
    margin-bottom: 10px;
}
