.movie-poster {
    width: 100%;
}

.details-sidebar {
    max-height: 360px;
}

.review-heading {
    font-weight: bold;
    text-decoration: underline;
}

.review-heading a {
    color: var(--hyperlink-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.review-body {
    font-size: .9em;
    margin-bottom: 5px;
}

.movie-recommendation-stub {
    width: 160px;
    /*height: 100%;*/
    margin: 10px;
    /*background-color: rebeccapurple;*/
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 10px;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.movie-recommendation-stub-image {
    width: 140px;
    /*height: 80%;*/
    border-radius: 5px;
    /*background-color: rebeccapurple;*/
}

.recommendations-slider-container {
}

.sidebar-button {
    border-radius: 0 !important;
    width: 100% !important;
    padding: 10px 0 !important;
    background-color: var(--dark-grey) !important;
    color: var(--primary-text-color) !important;
    border: 0 !important;
    margin-bottom: 10px !important;
}

.following-reviews-list {
    padding: 12px;
    background-color: var(--dark-grey);
    max-height: 320px;
}

.following-reviews-list-item {
    overflow-y: scroll;
    max-height: 200px;
}

.icon-row {
    transform: translateY(15px);
}
