:root {
    --navbar-height: 70px;
    --navbar-background-color: #D9D9D9;
    --hyperlink-color: darkblue;
    --primary-text-color: #1D1F20;
    --light-grey: #F5F5F5;
    --dark-grey: #EDEDED;
    height: 100%;
}

.main-content {
    background-color: #FFFFFF;
    padding: 30px 80px 5px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
    color: var(--primary-text-color) !important;
}

a:hover {
    text-decoration: underline !important;
    color: var(--primary-text-color) !important;
}

a h4 {
    text-decoration: none;
}

a h6 {
    text-decoration: none;
}
